body{background-color: #F9F7FE;
   
      font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-style: normal;
    
}

.app{width: 800px;
border: 1px solid whitesmoke;
border-radius: 30px;
padding: 30px;
margin:70px auto;
box-shadow: 4px 4px 2px whitesmoke;
box-sizing: border-box;
background-color:white;}


.container{display: flex;
justify-content: space-between;
margin-bottom: 25px;
padding-right: 33px;
}

.temperature{font-size:108px;
padding-top: 35px;}

.celsius{vertical-align: 53px;
font-size: 30px;}

h1{font-size: 45px;
margin-bottom: 0 auto;}

hr{width: 910px;
border-color:  #F9F7FE;

}

strong{color: #F65282;}

.forecast{font-size: 20px;
color: #D2D2D3;
padding-bottom: 40px;

}

input[type=search]{font-size: 20px;
border-radius:8px ;
padding: 20px;
width:520px;
margin-right: 12px;
margin-bottom: 20px;
background:#F9F7FE ;
border: 1px solid whitesmoke;
box-shadow: 2px 2px 2px whitesmoke;
font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-style: normal;
    }


input[type=submit]
{font-size: 20px;
padding: 20px;
border-radius:8px ;
width:170px;
background:#885DF1;
color: whitesmoke;
border: 1px solid whitesmoke;
box-shadow: 2px 2px 2px whitesmoke;
font-family: "Roboto Slab", serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

footer{margin-top: 40px;
font-size: 18px;
text-align: center;
padding-bottom: 16px;
border-top: 1px solid #F9F7FE;
padding-top: 23px;
color: rgba(0, 0, 0, 0.6);}

.emoji{font-size: 76px;
}

a{color: #885DF1;}


.weather-forecast-temperatures{display: flex;
justify-content: center;
text-align: center;
color: #F65282;
margin-top: 25px;}

.weather-forecast-icon{
text-align: center;
}

.weather-forecast-temperature{padding: 0 10px;}

.weather-forecast-date{margin-bottom: 10px;
line-height: 20px;
font-size: 16px;
color: rgba(39,33,66,0.4);
text-align: center;}

.weather-forecast{display: flex;
justify-content: space-around;}

.weather-forecast-day{text-align: center;
line-height: 40px;}